# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build outputs
dist/
build/
out/

# Electron
electron-builder-output/
release/
*.exe
*.dmg
*.AppImage

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# VSCode
.vscode/
.history/

# Misc
*.swp
*.swo

#Zip files
*.zip